/*
&display=swap
&subset=cyrillic-ext
*/
@import url("https://fonts.googleapis.com/css?family=Roboto:regular,500,700,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

li {
	list-style: none;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

img {
	vertical-align: top;
}

html,
body {
	height: 100%;
}

html {
	/* по умолчанию */
	/* font-size: 16px;  */
}

body {
	line-height: 1;
	color: #fff;
	/* background-color: #333; */
	background-color: #999999;
	font-family: "Roboto";
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

/* ------------------------------ */
.main {
	flex-grow: 1;
	padding: 30px;
}

[class*="__container"] {
	max-width: 600px;
	margin: 0px auto;
	/* display: flex; */
}

.main__registration {
	display: flex;
	margin-bottom: 30px;
}


.weather {
	font-size: 24px;
	font-family: 'Roboto';
}

.weather__container {
	background-color: #fff;
	color: black;
	display: flex;
	flex-direction: column;
	border: 1px solid #000000;
}

.weather__form {
	border-bottom: 1px solid #000;
	padding: 11px 16px;

	position: relative;

}

.weather__input {
	width: 95%;
	font-size: 20px;
	outline: none;
}

.weather__interface {
	display: flex;
	justify-content: space-between;
}

.visual-left {
	display: flex;
	flex-direction: column;
	flex: 0 1 50%;
	padding: 21px 16px;
	border-right: 1px solid #000;
}

.visual-left__temp {
	font-size: 70px;
	margin-bottom: 40px;
}

.visual-left__temp::after {
	content: '°';
}

.visual-left__icon {
	display: block;
	margin: 0 auto 60px;
	flex: 1 1 auto;
}

.visual-left__bottom {
	display: flex;
	justify-content: space-between;
}

.visual-left__city {}

.visual-left__add-favor {}

.cities {
	display: flex;
	flex-direction: column;
	flex: 0 1 50%;
}

.cities__added-locations {
	padding: 23px 18px 17px 18px;
	border-bottom: 1px solid #000;
}

.cities__added-cityNames {
	padding: 23px 18px 17px 18px;
	/* border-bottom: 1px solid #000; */
}

.cities__list {
	padding: 35px 18px 15px;
	flex: 1 1 auto;
}

.cities__item:not(:last-child) {
	margin-bottom: 20px;
}


/*
.inputt:checked+.form-summary__task::after {
	transform: scale(1);
}

.inputt:checked+.form-summary__task {
	background-color: #F4F4F4;
} */

.search_icon {
	position: absolute;
	right: 0px;
}

.cities__added-cityNames__item {
	padding: 5px 5px 9px 9px;
	position: relative;
}

.favoriteCityElemStyle {
	position: absolute;
	width: 70%;
}

.form-summary__img-2 {
	position: absolute;
	top: 13px;
	right: 10px;
	transform: rotate(45deg);
}

.favoriteOn {
  fill: #757575;
}